@import './src/m1-ui/common/mixins';

.favorites {
  @include flex(column, flex-start, center, wrap);
  margin: 20px;
  height: 90vh;
  border: 1px solid black;
  background: #f09c2d;

  .img {
    width: 60%;
  }

  .citiesBox {
    @include flex(row, center, flex-start, wrap);
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    :hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1.05, 1.05) ;
    }

    .cityBox {
      min-width: 180px;
      width: 20%;
      height: auto;
      border: solid 1px black;
      margin: 5px;

      .celsius {
        height: 15px;
      }
    }
  }

  .empty_favorites_text {
    margin: auto;
    font-size: x-large;
  }

  @media screen and (max-width: 700px) {
    min-height: 100vh;
  }

  @media screen and (max-width: 1200px) {

    .daysBox {
      flex-wrap: wrap;
    }
  }

  width: 90vw;
}