@import './src/m1-ui/common/mixins';

.board {
  @include flex(column, center, center, wrap);
  margin: 20px;
  height: 90vh;
  border: 1px solid black;
  //background: #f09c2d;

  .img {
    width: 60%;
  }

  .board_container {
    margin: 20px;
  }

  @media screen and (max-width: 1200px) {

    .daysBox {
      flex-wrap: wrap;
    }
  }

    width: 90vw;

  .daysBox {
    @include flex(row, center, flex-start, no wrap);
    width: 100%;
    margin: 10px 0;

    .dayBox {
      min-width: 140px;
      width: 20%;
      height: auto;
      border: solid 1px black;
      margin: 5px;

      .minMax {
        @include flex(row, space-around, center, no wrap);

        .minTemp, .maxTemp {
          margin: 10px;
        }

        .celsius {
          height: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    height: 100%;
  }

}