@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Tourney:ital,wght@1,700&display=swap');


.App {
  text-align: center;
  background: #574c4a;
  font-family: 'Merienda', cursive;
  padding-top: 10px;
}

